<h1>Your attempt to submit an itinerary failed. If you are not already logged in, please do so now.  You must create an account and login to submit itineraries.</h1>
<p><a href="/" class="btn btn-primary">Go Home</a></p>