<div class="row">
    <div class="col-sm-9">
        <h1><%= @destination[:city] %></h1>
        <h6><%= @destination[:location] %></h6>
        <h3><%= @destination[:description] %></h3>
    </div>
    <div lcass="col-sm-2">
        <a href="/destinations/<%= @destination[:id] %>/itineraries/new"><button type="button" class="btn btn-outline-primary">+Add Itinerary</button></a>
    </div>
</div>