<body>

  <div class="jumbotron jumbotron-fluid home">
    <div class="container">
      <h1 class="display-4">The Weekend Traveler</h1 class="display-4">
      <h2>Locations, Itineraries and Advice to help you plan</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h3>Important logistics to consider with an itinerary</h3>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 text-center">
        <h1><i class="fas fa-stopwatch"></i></h1>
        <h5>Timing</h5>
        <p class="Why">Not only should you consider the amount of time that an activity takes, but you should also consider the amount of travel time required to and from other activites, any pre-work or signups required, and the best time of day or year for that activity.</p>
      </div>
      <div class="col-md-4 text-center">
        <h1><i class="fas fa-search-dollar"></i></h1>
        <h5>Costs</h5>
        <p class="Why">We want to know how much the overall itinerary, as well as specific events are estimated to cost.  Including any additional information on price ranges and options is always helpful! </p>
      </div>
      <div class="col-md-4 text-center">
        <h1><i class="fas fa-clipboard-list"></i></h1>
        <h5>Structure</h5>
        <p class="Why">Some people like very structured and organized events while traveling.  Others prefer casual, drop-in activities that can be done at anytime.  It's important to note the degree of structure associated with an itinerary and/or certain activities.</p>
      </div>
      <div class="col-md-4 text-center">
        <h1><i class="fas fa-hiking"></i></h1>
        <h5>Goal</h5>
        <p class="Why">Is this a romantic getaway, or will your young kids and grandparents be coming along?  Are you looking to learn and explore, or lounge by the beach?  Be sure to note the trip "type" associated with each itinerary.</p>
      </div>
    </div>
  </div>





  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>