<div class="row">
    <div class="col-sm-9">
        <h1><%= @destination[:city] %></h1>
        <h6><%= @destination[:location] %></h6>
        <h3><%= @destination[:description] %></h3>
    </div>
    <div class="col-sm-3">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                </tr>
            </thead>
        </table>
    </div>
</div>