
<h2>Have an itinerary or activities that you'd like to share for <%= @destination[:city] %>? Submit your content to help our site grow!</h2>
  <hr class="my-4">
    <div class= "feedback">
    <div class ="container">

       <form action="/destinations/<%= @destination[:id] %>/itineraries/create" method="POST">
        <div class="form-group">
            <label>Approximately how much did this trip cost?</label>
            <textarea class="form-control" rows="1" name="comments"></textarea>
        </div>
       <div class="form-group">
            <label>How many days is your itinerary for?</label>
            <select class="form-control" name="days">
                <option value="2">2</option>               
                <option value="1">3</option>
                <option value="0">4</option>
            </select>
        </div>
        <div class="form-group">
            <label>What type of trip is this?</label>
            <select class="form-control" name="type">
                <option value="3">Other</option>
                <option value="2">Friends</option>
                <option value="1">Romantic</option>
                <option value="0">Family</option>
            </select>
        </div>
        <div class="form-group">
            <label>Please provide a detailed itinerary of events, including the name of venues/providers and website links if available.</label>
            <textarea class="form-control" rows="25" name="comments"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
       </form>
    </div>
  </div>